/*
GLOBALS CLASSES
*/
*{margin:0; padding:0; font-family: 'Ropa Sans', sans-serif;}
body{background:url(../images1/pattern-1.jpg);}
p{font-family: 'Ropa Sans', sans-serif; color:#978e86; font-size:14px; font-weight:normal; line-height:20px;text-align:center;}
a{text-decoration:none; color:#cf9359;}
a:hover{text-decoration:none; color:#978e86;}
ul li { list-style:none; outline:none;}
img { border:none; }
img { border:none;}
h1{font-family: 'Ropa Sans', sans-serif; font-size:26px; color:#282623; text-transform:uppercase; font-weight:normal; text-align :center;}
h2 {text-align:center;}
/*
GENERAL CLASSES
*/

.panel {overflow:hidden;}
.title {}
.content { overflow:hidden; font-size:14px;}
.top-border{border-top:1px solid #dadacb; margin:20px 20px 14px 20px;}
.bottom-border{border-top:1px solid #dadacb; margin:14px;}

/*
HEADER CLASSES
*/
.header{width:960px; margin:-50 auto; overflow:hidden;}
.header-left-panel{width:560px; float:left;}
.logo-wrap{width:250px;  float:left; background:#f3f3ee; overflow:hidden;}
.logo{width:280px; float:left; margin-left:-15px; margin-top:114px;}
.logo h2{font-family: 'Ropa Sans', sans-serif; font-size:18px; color:#cf9359; text-transform:uppercase; font-weight:normal;}
.logo h1{color:#3598db; font-size:42px; padding-bottom:22px;}


/*
PANEL CLASSES
*/
.panel-wrap{width:100%; background:url(../images1/pattern-2.jpg); overflow:hidden; margin-top:20px;}
.panel-wrapper{width:960px; margin:0 auto; overflow:hidden; margin-top:60px; padding-bottom:60px;}

.panel-wrapper .panel{width:260px; background:#f3f3ee; float:left; padding:20px;}
.panel-wrapper .title {  padding-bottom:10px; }
.panel-wrapper .title h1{color:#50453b; font-family: 'Source Sans Pro', sans-serif; font-weight:normal; padding-top:20px;}
.panel-wrapper .border{border-bottom:1px solid #dadacb; }
.panel-wrapper .content p{padding-top:15px; }



.footer{width:960px; margin:0 auto; margin-top:76px; overflow:hidden;}
.footer p{text-align:center; color:#cf9359; padding-bottom:72px;}



.clearing { clear:both;}
.fltLeft { float:left;}
.flrRight { float:right;}
.marLeft30 { margin-left:30px !important;}
.marLeft20 { margin-left:20px;}
.marRight20{ margin-right:20px;}
.marRight25{ margin-right:25px;}
.marRight30 { margin-right:30px;}
.marginTop { margin-top:30px;}
.marginTop10{ margin-top:10px;}
.marginBottom { margin-bottom:60px;}
.padTop { padding-top:20px;}
.padBottom { padding-bottom:30px;}
.padBottom20 { padding-bottom:20px;}
.wid960{ width:960px !important; }